html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url('assets/lemonsong.jpg');
}

h1{
  font-family: 'El Messiri', sans-serif;
}

p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
}
