html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("assets/watercolor.JPG");
  background-repeat: no-repeat;
   background-size: 1500px 1000px;
   background-attachment: fixed;
 background-position: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
}
