html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("assets/watercolor.JPG");
  background-repeat: no-repeat;
  background-size: 1500px 1000px;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 350px;
  font-size: 80px;
  font-family: 'Bungee Shade', cursive;
}

@media only screen and (max-width: 375px){

  h1 {
    margin-top: 200px;
  }

}
